.titulo-equipe {
  text-align: center;
  margin-top: 2rem;
  font-size: 25px;
}

.card-grid-presidente {
  gap: 1rem;
}

.card-grid-conselheiros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  background: #f1f1f1;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: 200ms ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s, background-color 0.3s;
}

.card img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
